body {
    background: linear-gradient(135deg, #6ab04c, #badc58);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 40px 0;
}

.dashboard-container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
}

.back-btn {
    text-decoration: none;
    padding: 5px 10px;
    background: #3498db;
    color: #fff;
    border-radius: 5px;
    transition: 0.2s;
}

.back-btn:hover {
    background: #2980b9;
}

.add-building {
    margin-bottom: 20px;
}

.add-building input {
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.add-building button {
    padding: 5px 15px;
    background: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.table-container a, button{
    padding: 5px 15px;
    background: #cc5050;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.table-container input {
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.add-building button:hover {
    background: #27ae60;
}

.error {
    color: red;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background: #3498db;
    color: #fff;
}

a {
    text-decoration: none;
    color: #3498db;
    transition: 0.2s;
}

a:hover {
    color: #2980b9;
}
